<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/assets/practice/1.1.css?dffj"  />
  <style type="text/css">{{{ css }}}</style>
  <script type="text/javascript" src="/assets/practice/common.js?asf"></script>
  <script type="text/javascript" src="/assets/practice/ractive.cource.js"></script>
</head>
<body>
  <div class="l-page">
    {{{ html }}}      
  </div>
  <script type="text/javascript">{{{ js }}}</script>
  <script type="text/javascript" src="/assets/practice/1.1.js?body=1abnna"></script>
</body>
</html>