<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <link rel="stylesheet" type="text/css" href="/assets/practice/common.css"  />
  <link rel="stylesheet" type="text/css" href="{{practice_assets_path}}/style.css"  />
  <style type="text/css">{{{ files.css.0 }}}</style>
  <script type="text/javascript" src="/assets/practice/common.js"></script>
  <script type="text/javascript" src="{{cource_assets_path}}/vendor.js"></script>
</head>
<body>
  <div class="l-page">
    {{{ files.html.0 }}}      
  </div>
  <script type="text/javascript">{{{ files.js.0 }}}</script>
  <script type="text/javascript" src="{{practice_assets_path}}/specs.js"></script>
</body>
</html>