<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/assets/reset.css"  />
    <style>{{{css}}}</style>
    <script type="text/javascript">{{{js}}}</script>
</head>
<body>
    <div class="l-page">
        {{{html}}}
    </div>
</body>
</html>
