<div class="col-sm-5">
  <h2>Side</h2>
    <p>Создайте простой класс используя конструктор <code>Ractive</code>.</p>

    <pre><code class="js">{{ "var ractive = new Ractive({\
  el: 'container',\
  template: '<p>{{greeting}}, {{recipient}}!</p><br /><input type=\"text\" value=\"{{greeting}}\" />',\
  data: { greeting: 'Hello', recipient: 'world' }\
});" }}</code></pre>
</div>

<div class="col-sm-7">
  <div class="row">
    <div class="col-xs-12">
      <h2>Write the JavaScript here.</h2>
      <div class="b-sandbox">
        <Tabs items="{{tabs}}" />
        {{#alert.visible}}
          <Alert message="{{alert.message}}" type="{{alert.type}}" autoclose="3000" on-teardown="hideAlert" />
        {{/alert.visible}}
        <button type="button" class="btn btn-primary btn-lg b-sandbox-result__exec" on-click="exec()">Execute (Shift+Enter)</button>
      </div>

      <h2>Result</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <iframe src="about:blank" class="b-sandbox-result" frameborder="0"></iframe>
        </div>
      </div>
</div>