<ul class="nav nav-tabs b-tabs" role="tablist">
  {{#tabs:i}}
    <li class="{{isActive(i) ? 'active' : ''}} {{valid ? '' : 'error'}}"><a on-click="showTab(i)">{{name}}</a></li>
  {{/tabs}}
</ul>
<div class="tab-content">
  {{#tabs:i}}
    {{setPartial(content)}}
    <div class="tab-pane {{isActive(i) ? 'active' : ''}} {{valid ? '' : 'error'}}">
      {{>tabContent}}
    </div>
  {{/tabs}}
</div>