/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require codemirror
 *= require codemirror/addon/dialog/dialog
 *= require codemirror/addon/lint/lint
 *= require highlightjs/styles/default
 * require_tree .
 *= require_self
 */

.container-fluid {
    padding-top: 50px;
}

.b-sandbox-result {
    width: 100%;
    height: 300px;
}

.b-sandbox {
    position: relative;
}

.b-sandbox-result__exec {
    position: absolute;
    right: 0;
    bottom: 0;
}

    .b-sandbox .alert {
        position: absolute;
        width: 100%;
        left: 0;
        top: 41px;
        border-radius: 0;
        opacity: 0.9;
        z-index: 20;
    }

.b-tabs {}

    .b-tabs li {
        position: relative;
    }

    .b-tabs li.error:before {
        position: absolute;
        right: 6px;
        top: 1px;
        font-size: 11px;
        color: #ff0000;
        content: "Error";
        z-index: 1;
    }

.CodeMirror-lint-marker-error:before, .CodeMirror-lint-marker-multiple:before {
    position: absolute;
    width: 1000px;
    height: 100%;
    background: #ff0000;
    opacity: 0.2;
    content: "";
}

.CodeMirror-lint-marker-multiple:before {
    background: none;
}