<div class="b-practice"></div>

<script>
  new Views.PracticeSandbox({
    data: {
      tabs: [
        { name: "index.html", content: "<Codearea lang='text/html'>" + $('<div/>').text('<div id="container"></div>').html() + "</Codearea>", valid: true},
        { name: "style.css", content: "<Codearea lang='text/css'>.b-news__button {cursor: pointer; text-decoration: underline;}</Codearea>", valid: true},
        { name: "app.js", content: "<Codearea lang='text/javascript'></Codearea>", valid: true}
      ],
      template: JST['templates/practice/iframe']()
    }
  })

</script>